[Desktop Entry]
Name=BazzCap
Comment=Screenshot & Recording Tool for Linux
Exec=python3 -m bazzcap
Icon=bazzcap
Terminal=false
Type=Application
Categories=Utility;Graphics;
Keywords=screenshot;capture;recording;gif;annotation;
StartupNotify=true
StartupWMClass=bazzcap
